body {
    margin-top: 0;
}

#container {
    display: flex;
    margin: auto; 
    flex-direction: column;
    height: 750px;
    width: 1700px;
    background-color: black;
    height: 2000px;
}

#photo {
    position: fixed;
    display: flex;
    align-self: center;
    margin: auto;

}

#logo-franco {
    width: 400px;
    height: 400px;
    z-index: -1;
}

#botones {
    display: flex;
    margin: auto;
    margin-top: 400px;
    margin-bottom: 20px;
    justify-content: center;
    z-index: 1;


}

.buttons-navbar {
    display: flex;
    margin: 50px;
    margin-top: 20px;
    height: 60px;
    width: 145px;
    justify-content: center;
    align-items: center;
    border: none;
    border-width: 0.1px;
    border-radius: 30px;
    background-color: rgba(104, 5, 5, 0.8);
    color: white;
    font-size: 24px;
}

#titulo {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
}

#title {
    width: 490px;
    border: solid black;
    margin-top: 5px;
    margin-bottom: 100px;
}

#title2 {
    display: flex;
    margin: auto;
    color: #A00000;
    margin-top: 100px;
    font-size: 20px;
    text-shadow: rgba(245,240,210,0.8) 0px 0px 3px;
}